.ui-sortable-placeholder {
    border: 1px dotted black; 
    visibility: visible !important;
    height: 215px !important;
}
.ui-sortable-placeholder * { visibility: hidden; }

.ui-sortable-helper {
    display: block;
    float: none;
}

.sortHelper{    
    border: 3px dashed #666;
    width: 100px;
}

.sortableactive{}
.sortablehover{}